:root {
  --color-primary-default: 76 130 233;
  --color-secondary-defualt: 76 130 233;
}

.theme-light {
  --color-primary-default: 76 130 233;
  --color-secondary-default: 76 130 233;
}

.theme-dark {
  --color-primary-default: 7 19 42;
  --color-secondary-default: 7 19 42;
}